html {
    background: url(/css/media/home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



@font-face {
    font-family: "Maven";
    src: url("Fonts/MavenProLight-100.otf");

}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    color: #6c6c6c
}

.container
{
    margin: 0px auto;
    width: 1200px;
}

#content-main{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height:100%;
    position: absolute;
    top: 0%;
    left: 0%;


}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper
{
    padding: 2em 0em;
    background: #FFF;
}

#header
{
    position: relative;
    height: 100px;
}


/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
    position: absolute;
    top: 1.5em;
    left: 0;
    width: 100%;
}

#logo h1
{
    display: inline-block;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700;
    color: #2C383B;
    padding-right: 0.50em;
}

#logo span
{
    position: absolute;
    top: 1.4em;
    display: inline-block;
    padding-left: 1.50em;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-size: 0.90em;
}

#logo a
{
    text-decoration: none;
    color: #197d62;
}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
    position: absolute;
    right: 0;
    top: 1em;
}

#menu ul
{
    display: inline-block;
}

#menu li
{
    display: block;
    float: left;
    text-align: center;
    line-height: 60px;
}

#menu li a, #menu li span
{
    display: inline-block;
    margin-left: 1px;
    padding: 0em 1.5em;
    letter-spacing: 0.10em;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    outline: 0;
    color: #212121;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}

#menu li.current_page_item a
{
    background: #197d62;
    color: #FFF !important;
}

#menu .icon
{
}

h1,h2,h3 {
    font-family: Maven;
    text-align: center;
    color: white;
}

h2{
    margin-top: 8%
}

.buttons {
    width: 600px;
    /*margin: 85px 50px 10px 1px;*/
    margin: 90px auto;
    height: auto;
}

.buttons img{
    margin-left: 25px;
}




#header-line {
    width: 40%;
    margin: 0 auto 0 auto
    }

#line {


}

#line2{

}





