@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}

html {
    background: url(/css/media/estetoscopio.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{

    font-family:'Open Sans',sans-serif;

}



form{
    background:#f0f0f0;
    padding:6% 4%;
}

#content-main{
    /*background-color: rgba(0, 0, 0, 0.4);*/
    width: 100%;
    height:100%;
    position: absolute;
    top: 0%;
    left: 0%;


}

.button_inicio {
    width: 100px;
    background: #7baea5;
    display: block;
    /*margin: 0 auto;*/
    margin-top: 1%;
    margin-left: 1%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

.button_inicio:hover {
    background: #7baea5;
}


/*CSS para cirujano*/
.button2{
    width:100px;
    background: #ebe941;
    display:block;
    /*margin:0 auto;*/
    margin-top:1%;
    margin-left: 1%;
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}


.button2:hover{
    background: #ebe941;
}


#cirujano{
    width:400px;
    /*margin:0 auto;*/
    /*margin-top:1px;*/
    margin-bottom:2%;
    margin-right: 30%;
    transition:opacity 1s;
    -webkit-transition:opacity 1s;
    float: right;
}


#triangle2{
    width: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 25px solid #ebe941;
    border-left: 25px solid transparent;
    /*margin: 0 1px;*/
    height: 25px;
    float: left;

    margin-left: -25px;
}



#cirujano h1{
    background: #ebe941;
    padding:20px 0;
    font-size:140%;
    font-weight:300;
    text-align:center;
    color:#fff;
}



input[type="text"]{
    width:92%;
    background:#fff;
    margin-bottom:4%;
    border:1px solid #ccc;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:95%;
    color:#555;
}

#metac {
    width:92%;
    background:#fff;
    margin-bottom:4%;
    border:1px solid #ccc;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:95%;
    color:#555;
}
#cirujano input[type="submit"]{
    width:100%;
    background: #ebe941;
    border:0;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

#cirujano input[type="submit"]:hover{
    background:#2288bb;
}

/*CSS para radio button*/

input[type=radio] {
    display:none;
}

input[type=radio] + label {
    display:inline-block;

    padding: 4px 12px;
    margin-bottom: 2%;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

input[type=radio]:checked + label {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    background-color:#e0e0e0;
}

#cirujano p{
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    text-align: center;
    padding-right: 2%;
    float: left;
}

/*CSS para CIE9*/

#CIE9{
    width:400px;
    margin-bottom:2%;
    margin-right: 30%;
    transition:opacity 1s;
    -webkit-transition:opacity 1s;
    float: right;;
}

.button3{
    width:100px;
    background: #ffb86f;
    display:block;
    /*margin:0 auto;*/
    margin-top:1%;
    margin-left: 1%;
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

.button3:hover{
    background: #ffb86f;
}


#triangle3{
    width:0;
    border-top:12px solid transparent;
    border-right:12px solid transparent;
    border-bottom:12px solid #ffb86f;
    border-left:12px solid transparent;
    margin:0 auto;
}

#CIE9 h1{
    background: #ffb86f;
    padding:20px 0;
    font-size:140%;
    font-weight:300;
    text-align:center;
    color:#fff;
}

#CIE9 input[type="submit"]{
    width:100%;
    background: #ffb86f;
    border:0;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

#CIE9 input[type="submit"]:hover{
    background:#ebe941;
}

/*CSS para Especialidad*/
#especialidad{
    width:400px;
    /*margin:0 auto;*/
    /*margin-top:1px;*/
    margin-bottom:2%;
    margin-right: 30%;
    transition:opacity 1s;
    -webkit-transition:opacity 1s;
    float: right;
}

.button4{
    width:100px;
    background: #bf211e;
    display:block;
    /*margin:0 auto;*/
    margin-top:1%;
    margin-left: 1%;
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

.button4:hover{
    background: #bf211e;
}


#triangle4{
    width:0;
    border-top:12px solid transparent;
    border-right:12px solid transparent;
    border-bottom:12px solid #bf211e;
    border-left:12px solid transparent;
    margin:0 auto;
}

#especialidad h1{
    background: #bf211e;
    padding:20px 0;
    font-size:140%;
    font-weight:300;
    text-align:center;
    color:#fff;
}

#especialidad input[type="submit"]{
    width:100%;
    background: #bf211e;
    border:0;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

#especialidad input[type="submit"]:hover{
    background:#ffb86f;
}

/*CSS para Horario*/
#horario{
    width:400px;
    /*margin:0 auto;*/
    /*margin-top:1px;*/
    margin-bottom:2%;
    margin-right: 30%;
    transition:opacity 1s;
    -webkit-transition:opacity 1s;
    float: right;
}

.button5{
    width:100px;
    background: #7baea5;
    display:block;
    /*margin:0 auto;*/
    margin-left: 1%;
    margin-top:1%;
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

.button5:hover{
    background: #7baea5;
}


#triangle5{
    width:0;
    border-top:12px solid transparent;
    border-right:12px solid transparent;
    border-bottom:12px solid #7baea5;
    border-left:12px solid transparent;
    margin:0 auto;
}

#horario h1{
    background: #7baea5;
    padding:20px 0;
    font-size:140%;
    font-weight:300;
    text-align:center;
    color:#fff;
}



#horario input[type="submit"]{
    width:100%;
    background: #7baea5;
    border:0;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

#horario input[type="time"]{
    width:92%;
    background:#fff;
    margin-bottom:4%;
    border:1px solid #ccc;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:95%;
    color:#555;
}

#horario input[type="submit"]:hover{
    background:#bf211e;
}

/*CSS para MEtas*/
#metas{
    width:400px;
    /*margin:0 auto;*/
    /*margin-top:1px;*/
    margin-bottom:2%;
    margin-right: 30%;
    transition:opacity 1s;
    -webkit-transition:opacity 1s;
    float: right;
}

.button6{
    width:100px;
    background: #54428e;
    display:block;
    /*margin:0 auto;*/
    margin-left: 1%;
    margin-top:1%;
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

.button6:hover{
    background: #54428e;
}


#triangle6{
    width:0;
    border-top:12px solid transparent;
    border-right:12px solid transparent;
    border-bottom:12px solid #54428e;
    border-left:12px solid transparent;
    margin:0 auto;
}

#metas h1{
    background: #54428e;
    padding:20px 0;
    font-size:140%;
    font-weight:300;
    text-align:center;
    color:#fff;
}



#metas input[type="submit"]{
    width:100%;
    background: #54428e;
    border:0;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

#metas input[type="month"]{
    width:92%;
    background:#fff;
    margin-bottom:4%;
    border:1px solid #ccc;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:95%;
    color:#555;
}

#metas input[type="number" ] {
    width:92%;
    background:#fff;
    margin-bottom:4%;
    border:1px solid #ccc;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:95%;
    color:#555;
}

#metas input[type="submit"]:hover{
    background:#7baea5;
}

/*CSS para Quirofanos*/
#quirofanos{
    width:400px;
    /*margin:0 auto;*/
    /*margin-top:1px;*/
    margin-bottom:2%;
    margin-right: 30%;
    transition:opacity 1s;
    -webkit-transition:opacity 1s;
    float: right;
}

.button7{
    width:100px;
    background: #1b998b;
    display:block;
    /*margin:0 auto;*/
    margin-top:1%;
    margin-left: 1%;
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

.button7:hover{
    background: #1b998b;
}


#triangle7{
    width:0;
    border-top:12px solid transparent;
    border-right:12px solid transparent;
    border-bottom:12px solid #1b998b;
    border-left:12px solid transparent;
    margin:0 auto;
}

#quirofanos h1{
    background: #1b998b;
    padding:20px 0;
    font-size:140%;
    font-weight:300;
    text-align:center;
    color:#fff;
}



#quirofanos input[type="submit"]{
    width:100%;
    background: #1b998b;
    border:0;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

#quirofanos input[type="month"]{
    width:92%;
    background:#fff;
    margin-bottom:4%;
    border:1px solid #ccc;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:95%;
    color:#555;
}

#quirofanos input[type="number" ] {
    width:92%;
    background:#fff;
    margin-bottom:4%;
    border:1px solid #ccc;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:95%;
    color:#555;
}

#quirofanos input[type="submit"]:hover{
    background:#54428e;
}

/*CSS para riesgo*/

/*CSS para Quirofanos*/
#riesgo{
    width:400px;
    /*margin:0 auto;*/
    /*margin-top:1px;*/
    margin-bottom:2%;
    margin-right: 30%;
    transition:opacity 1s;
    -webkit-transition:opacity 1s;
    float: right;
}

.button8{
    width:100px;
    background: #36413e;
    display:block;
    /*margin:0 auto;*/
    margin-top:1%;
    margin-left: 1%;
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

.button8:hover{
    background: #36413e;
}


#triangle8{
    width:0;
    border-top:12px solid transparent;
    border-right:12px solid transparent;
    border-bottom:12px solid #36413e;
    border-left:12px solid transparent;
    margin:0 auto;
}

#riesgo h1{
    background: #36413e;
    padding:20px 0;
    font-size:140%;
    font-weight:300;
    text-align:center;
    color:#fff;
}



#riesgo input[type="submit"]{
    width:100%;
    background: #36413e;
    border:0;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}



#riesgo input[type="submit"]:hover{
    background:#1b998b;
}